/*Was imported to the pug views, but now not using in jsx views
Using styles in components now */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
